In [1]:
names = {"A":2, "B":5, "C":1}

In [5]:
for x, y in names.items():
    print(x, " is ", y)

A  is  2
B  is  5
C  is  1

[python_examples](https://www.w3schools.com/python/python_examples.asp)

In [8]:
ing = {
    "Turkey": "small"
}

In [11]:
import pandas as pd
pd.DataFrame([ing])

  Turkey
0  small

In [12]:
x = 1
y = 2.8
z = 1j

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [13]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

In [ ]:
# https://www.w3schools.com/python/python_quiz.asp